@font-face {
	font-family: Gotham;
	src: url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
	font-family: GothamMedium;
	src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
	font-family: GothamBold;
	font-weight: bold;
	src: url("../fonts/Gotham-Bold.otf") format("opentype");
}

html {
	height:100%;
	background: linear-gradient(0deg, #3b3b3b, #0c0c0c 60%) fixed  no-repeat;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.tableWrapper {
	margin:0 auto;
}
.tableWrapper div {
	float:left;
	width:50%;
	margin:0px;
}

.tableWrapper div > button{
	margin: 0px;
}

.top-left{
	padding: 0px 5px 5px 0px;
}

.top-right{
	padding: 0px 0px 5px 5px;
}

.bottom-left{
	padding: 5px 5px 0px 0px;
}

.bottom-right{
	padding: 5px 0px 0px 5px;
}

.question{
	text-align: center;
	color:white;
	font-size: 1.6em;
	padding-top: 0.8em;
}

.question > span {
	font-weight: bold;
	font-size: 1.1em;
}

/*BUTTON BAR*/
.buttonbar > .item{
	padding: 0.7em;
	background-color: transparent;
	border: none;
}

.buttonbar > .item > button{
	margin: 0px
}

.has-error {
	border: 1px solid red;
}

/* FORM*/
.button-rounded{
	border-radius: 5px;
}

	/*
	.my-panel {
		margin:0px;
		padding:20px 10px 10px 10px;
		border:1px solid rgba(0,0,0,0.5);
		border-radius:12px 12px 10px 10px;
		-webkit-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 8px rgba(255,255,255,0.2),
		inset 0 8px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
		box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 8px rgba(255,255,255,0.2),
		inset 0 8px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
		background:rgba(0,0,0,0.92);
	}

	.my-panel-pad{
		margin:0px;
		padding:20px 10px 10px 10px;
		border:1px solid rgba(0,0,0,0.5);
		border-radius:12px 12px 10px 10px;
		-webkit-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 8px rgba(255,255,255,0.2),
		inset 0 8px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
		box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 8px rgba(255,255,255,0.2),
		inset 0 8px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
		background:rgba(0,0,0,0.25);
		position:absolute;
		left:6px;
		right:6px;
		top:6px;
		bottom:6px;
		width:auto;
		height: auto;
	}
	*/

/*RANKING*/
ul.ranking  {
	counter-reset: counter;
}

ul.ranking > li  {
	display: block;
	padding: 3px 0 18px;
}

ul.ranking > li > span.counter  {
	color: #bababa;
	left: 0;
	margin: 0 0.5em 0 0;
	float:left;
	font-weight: bold;
	font-size: 1.9em;
	min-width: 1em;
	text-align: right;
}

ul.ranking > li > span.title  {
	color: white;
	font-size: 1.5em;
}

.image-wrap.score{
	width:100%;
	height:100%;
	display:inline-block;
	background: transparent no-repeat scroll center center / 100% 100%;
	color: #cbcbcb;
}

.image-wrap.score > div{
	color: inherit;
	position: relative;
	font-weight: bold;
	font-size: 1.1em;
	top: 0.1em;
	text-align: center;
}

.image-wrap.gold{
	background-color: gold !important;
	color: #2b2b2b !important;
}

.image-wrap.silver{
	background-color: #c0c0c0 !important;
	color: #2b2b2b !important;
}

.image-wrap.bronze{
	background-color: #bb7d3f !important;
	color: #2b2b2b !important;
}

.image-wrap.loser{
	background-color: transparent;
	color: rgba(174, 174, 174, 1);
}

.image-wrap.winner{
	background-color: #6C3 !important;
	color: #f5f5f5 !important;
}

.modal,
.modal-big .modal {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	border: none;
	box-shadow: none;
	overflow: auto;
}
.modal-body {
	margin-bottom: 116px;
}
.modal-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}
