@font-face {
	font-family: Gotham;
	src: url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
	font-family: GothamMedium;
	src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
	font-family: GothamBold;
	font-weight: bold;
	src: url("../fonts/Gotham-Bold.otf") format("opentype");
}

html {
	height:100%;
	background: linear-gradient(0deg, #3b3b3b, #0c0c0c 60%) fixed  no-repeat;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.tableWrapper {
	margin:0 auto;
}
.tableWrapper div {
	float:left;
	width:50%;
	margin:0px;
}

.tableWrapper div > button{
	margin: 0px;
}

.top-left{
	padding: 0px 5px 5px 0px;
}

.top-right{
	padding: 0px 0px 5px 5px;
}

.bottom-left{
	padding: 5px 5px 0px 0px;
}

.bottom-right{
	padding: 5px 0px 0px 5px;
}

.question{
	text-align: center;
	color:white;
	font-size: 1.6em;
	padding-top: 0.8em;
	line-height: 1em;
	max-width: 100%;
}

.question > span {
	font-weight: bold;
	font-size: 1.1em;
}

/*BUTTON BAR*/
.buttonbar > .item{
	padding: 0.7em;
	background-color: transparent;
	border: none;
}

.buttonbar > .item > button{
	margin: 0px
}

.has-error {
	border: 1px solid red;
}

/* FORM*/
.button-rounded{
	border-radius: 5px;
}


.my-panel {
	margin:0px;
	padding:20px 10px 10px 10px;
	border:1px solid rgba(0,0,0,0.5);
	border-radius:12px 12px 10px 10px;
	background:rgba(0,0,0,0.92);
}
/*
.my-panel-pad{
	margin:0px;
	padding:20px 10px 10px 10px;
	border:1px solid rgba(0,0,0,0.5);
	border-radius:12px 12px 10px 10px;
	-webkit-box-shadow:
	0 2px 6px rgba(0,0,0,0.5),
	inset 0 1px rgba(255,255,255,0.3),
	inset 0 8px rgba(255,255,255,0.2),
	inset 0 8px 20px rgba(255,255,255,0.25),
	inset 0 -15px 30px rgba(0,0,0,0.3);
	box-shadow:
	0 2px 6px rgba(0,0,0,0.5),
	inset 0 1px rgba(255,255,255,0.3),
	inset 0 8px rgba(255,255,255,0.2),
	inset 0 8px 20px rgba(255,255,255,0.25),
	inset 0 -15px 30px rgba(0,0,0,0.3);
	background:rgba(0,0,0,0.25);
	position:absolute;
	left:6px;
	right:6px;
	top:6px;
	bottom:6px;
	width:auto;
	height: auto;
}
*/

/*RANKING*/
ul.ranking  {
	counter-reset: counter;
}

ul.ranking > li  {
	display: block;
	padding: 3px 0 18px;
}

ul.ranking > li > span.counter  {
	color: #bababa;
	left: 0;
	margin: 0 0.5em 0 0;
	float:left;
	font-weight: bold;
	font-size: 1.9em;
	min-width: 1em;
	text-align: right;
}

ul.ranking > li > span.title  {
	color: white;
	font-size: 1.5em;
}

.image-wrap.score{
	width:100%;
	height:100%;
	display:inline-block;
	background: transparent no-repeat scroll center center / 100% 100%;
	color: #cbcbcb;
}

.image-wrap.score > div{
	color: inherit;
	position: relative;
	font-weight: bold;
	font-size: 1.1em;
	top: 0.1em;
	text-align: center;
}

.image-wrap.gold{
	background-color: gold !important;
	color: #2b2b2b !important;
}

.image-wrap.silver{
	background-color: #c0c0c0 !important;
	color: #2b2b2b !important;
}

.image-wrap.bronze{
	background-color: #bb7d3f !important;
	color: #2b2b2b !important;
}

.image-wrap.loser{
	background-color: transparent;
	color: rgba(174, 174, 174, 1);
}

.image-wrap.winner{
	background-color: #6C3 !important;
	color: #f5f5f5 !important;
}

.modal,
.modal-big .modal {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	border: none;
	box-shadow: none;
	overflow: auto;
}
.modal-body {
	margin-bottom: 116px;
}
.modal-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}

.home-button{
	display: block;
	width:100%;
	max-width: 270px;
	margin: 0 auto;
}

.questionsBar{
	position: absolute;
	width: 100%;
}

#question1{
	transform: rotate(180deg);
	-webkit-transform:rotate(180deg);
	position: relative;
	top: -155px
}

#question2{
	position: relative;
	top: -105px;
}

.radialtimer2{
	-webkit-transform:rotate(270deg);
	transform: rotate(270deg);
	position: absolute !important;
}

/*PHONE - LANDSCAPE*/
.mobi.phone.landscape .scoreboardwrapper, .pc.css-1000-l .scoreboardwrapper{
	top: 8em !important;
	bottom: 8em !important;
}

.mobi.phone.landscape #question1, .pc.css-1000-l #question1{
	position: relative;
	right: 0;
	font-size: 1.2em !important;
	width: 100%;
	text-align: left;
	top: -105px;
	white-space: nowrap;
}

.mobi.phone.landscape #question2, .pc.css-1000-l #question2{
	position: relative;
	margin-left: 20px;
	left: 0;
	font-size: 1.2em !important;
	width: 100%;
	text-align: left;
	top: -150px;
	white-space: nowrap;
}

.mobi.phone.landscape #authWrapper, .pc.css-1000-l #authWrapper{
	padding-top: 0px !important;
}

.mobi.phone.landscape #viewWrapper, .pc.css-1000-l #viewWrapper{
	top :0 !important;
}

@media screen and (max-height: 375px){
	.mobi.phone.landscape #versus .buttoner, .pc #versus .buttoner{
		font-size: 1.1em !important;
		padding: .50em 1.1em 0.65em;
	}
}

/*HOME BUTTON*/
.mobi.phone.landscape .home-button, .pc.landscape .home-button{
	display: inline-block !important;
	max-width: 220px  !important;
}

/*TABLET*/
.mobi.tablet .buttoner , .pc.css-10000 .buttoner {
	font-size: 1.8em !important;
}

.mobi.tablet .question, .pc.css-10000 .question{
	font-size: 2.5em !important;
	line-height: 1em;
}

.mobi.tablet #question1, .pc.css-10000 #question1{
	display: block !important;
	position: relative !important;
	top: -180px !important;

}

.mobi.tablet #question2, .pc.css-10000 #question2{
	display: block !important;
	position: relative !important;
	top: -140px !important;
}
