<button class="button icon-left ion-chevron-left button-clear button-light" style="position: absolute; top: -17px; left: -3px;z-index: 100" ng-click="goBack()"></button>

<div id="authWrapper" vertical-aligned style="width: 100%; height: 100%; margin: 0 auto; padding-top: 40px;  max-width: 400px; "
     ng-show="!user.id" class="animate-flip">
	<ul class="list buttonbar" style="max-width: 400px; width: 100%">
		<li class="item" style="padding-bottom: 0px">
			<div class="social-logins">
				<button class="button button-outline button-block button-rounded button-positive  icon-left ion-social-facebook-outline"
						style="text-align: left" ng-click="loginFacebook()">
					<span ng-show="!workingOAuth" style="padding-left: 15px;font-family: GothamMedium">{{ 'SIGN_FB' | translate }}</span>

					<div ng-show="workingOAuth" style="text-align: center;">
						<span class="icon ion-loading-c"></span>
					</div>
				</button>
				<button class="button button-outline button-block button-rounded button-royal  icon-left ion-ios7-person-outline" style="text-align: left; margin-bottom: 0" ng-click="loginAsGuest()">
					<span ng-show="!workingGuest" style="padding-left: 10px;font-family: GothamMedium">{{ 'SIGN_GUEST ' | translate }}</span>
					<div ng-show="workingGuest" style="text-align: center;">
						<span class="icon ion-loading-c"></span>
					</div>
				</button>
			</div>
		</li>
		<li>
			<span class="line"></span>
			<span class="or" style="font-family: GothamMedium">{{ 'OR ' | translate }}</span>
		</li>
		<li class="item" style="max-width: 300px;margin: 0 auto; position: relative; top: -5px">
			<form class="auth-form" ng-show="!isSigning" name="signUpForm" ng-submit="signUp(signUpForm.$valid)" novalidate>
				<div class="list">
					<label class="item item-input" ng-class="{ 'has-error' : signUpForm.username.$invalid && !signUpForm.username.$pristine && submitted}">
						<input placeholder="Enter your name" name="username" type="text" ng-model="user.name" ng-change="submitted = false" ng-minlength="1" ng-maxlength="15" required>
					</label>
				</div>
				<div class="list">
					<label class="item item-input" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine && submitted}">
						<input placeholder="Enter your email"  name="email" type="email" class="form-control" ng-model="user.email" ng-change="submitted = false" ng-minlength="1" ng-maxlength="15" required>
					</label>
				</div>
				<div class="list">
					<label class="item item-input"  ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine && submitted}">
						<input placeholder="Set a password" name="password" type="password"  class="form-control" ng-model="user.password" ng-change="submitted = false" ng-minlength="1" ng-maxlength="12" required>
					</label>
				</div>
				<div class="button-wrapper"  style="margin-top: 10px;">
					<button class="button button-outline button-rounded button-balanced" type="submit" ng-click="submitted = true" style="width: 170px;">
						<span style="font-family: GothamMedium;" ng-show="!working">{{ 'CREATE_ACCOUNT' | translate }}</span>
						<div ng-show="working" style="text-align: center;">
							<span class="icon ion-loading-c"></span>
						</div>
					</button>
					<button class="button icon-right ion-chevron-right button-clear button-light" style="font-size: 0.9em;font-family: GothamMedium" ng-click="isSigning = true">{{ 'OR_LOG_IN' | translate }}</button>
				</div>
			</form>

			<form ng-show="isSigning" class="auth-form"  name="signInForm" ng-submit="signIn(signInForm.$valid)" novalidate>
				<div class="list">
					<label class="item item-input" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine && submitted}">
						<input placeholder="Enter your email"  name="email" type="email" class="form-control" ng-model="user.email" ng-change="submitted = false" ng-minlength="1" ng-maxlength="15" required>
					</label>
				</div>
				<div class="list">
					<label class="item item-input"  ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine && submitted}">
						<input placeholder="Enter your password" name="password" type="password"  class="form-control" ng-model="user.password" ng-change="submitted = false" ng-minlength="1" ng-maxlength="12" required>
					</label>
				</div>
				<div class="button-wrapper"  style="margin-top: 10px;">
					<button class="button button-outline button-rounded button-balanced" style="width: 150px;" type="submit" ng-click="submitted = true">
						<span style="font-family: GothamMedium"  ng-show="!working">{{ 'SIGN_IN' | translate }}</span>
						<div ng-show="working" style="text-align: center;">
							<span class="icon ion-loading-c"></span>
						</div>
					</button>
					<button class="button icon-right ion-chevron-right button-clear button-light" style="font-size: 0.9em;font-family: GothamMedium" ng-click="isSigning = false">{{ 'OR_SIGN_UP' | translate }}</button>
				</div>
			</form>

			<div ng-show="submitted" style="width: 100%; text-wrap: normal; word-break: normal;
			word-wrap: normal; color:rgba(212, 38, 38, 1); font-size: 0.9em;white-space: normal;">
				<span ng-show="signInForm.username.$error.required">{{ 'NAME_REQUIRED' | translate }}</span>
				<span ng-show="signInForm.password.$error.required">{{ 'PASSWORD_REQUIRED' | translate }}</span>
				<span ng-show="signInForm.email.$error.required">{{ 'EMAIL_REQUIRED' | translate }}</span>
				<span ng-show="signInForm.email.$error.$invalid">{{ 'EMAIL_INVALID' | translate }}</span>
				<span ng-show="error.show && error.text" ng-bind="error.text"></span>
			</div>
		</li>
	</ul>
</div>

<div vertical-aligned style="width: 100%; height: 100%; margin: 0 auto; max-width: 500px" ng-show="user.id" class="animate-flip">
	<!--USER MODAL-->

	<div style="color: #f5f5f5; margin: 0 auto; max-width: 500px">
		<p style="font-size: 1.2em;font-family: GothamMedium">{{ 'WELCOME' | translate }} {{user.name}}!</p>
		<div class="logo box cutout" style="margin: 0px auto; width: 6em; height: 6em;" >
			<span class="image-wrap" style="width:100%; height:100%; display:inline-block; background: url('{{user.picture}}') no-repeat scroll center center / 100% 100% white;"> </span>
		</div>
		<div style="font-size: 1.1em;padding-top: 0.5em" ng-show="user.id != 'guest'">
			<p>{{ 'BEST_SCORE' | translate }}<b style="font-size: 1.1em">{{user.score}}</b></p>
			<p>{{ 'WEEK_SCORE' | translate }}<b style="font-size: 1.1em">{{user.weekScore}}</b></p>
		</div>

		<div style="padding-top: 0.5em" ng-show="user.id == 'guest'">
			<p>{{ 'GUEST_INFO' | translate }}</p>
		</div>

		<div style="padding-top: 0.3em">
			<span class="line"></span>
		</div>

		<div style="clear: both;padding-top: 0.3em;max-width: 300px;margin:0 auto;">
			<button class="button button-outline button-block button-rounded button-positive icon-left ion-help-circled" ng-click="goToHowPlay()">
				<span style="padding-left: 10px;font-family: GothamMedium">{{ 'HOW_TO_PLAY' | translate }}</span>
			</button>
			<button class="button button-outline button-block button-rounded button-balanced icon-left ion-chevron-right"  ng-click="goToQuiz()">
				<span style="padding-left: 10px;font-family: GothamMedium">{{ 'PLAY' | translate }}</span>
			</button>
		</div>
	</div>
</div>