<div class="bar bar-header bar-clear">
	<h1 style="font-family: GothamBold; width:100%; text-align: center; color: #f5f5f5">ColorQuiz</h1>
</div>
<div vertical-aligned style="position:absolute; width: 100%; top: 40px; bottom: 0px; margin: 0 auto; ">
	<ul class="list buttonbar " style="margin: 0 auto; max-width: 650px;">
		<li class="item" ng-show="user.id" style="padding-bottom:1em;">
			<div class="logo box cutout" style="margin: 0px auto; width: 6em; height: 6em;">
				<span class="image-wrap" style="width:100%; height:100%;  display:inline-block; background: url('{{user.picture}}') no-repeat scroll center center / 100% 100% white;"> </span>
			</div>
			<p style="font-size: 1.3em; padding-top: 0.2em; margin-bottom: 0.3em; color:#cbcbcb;font-family: GothamMedium">{{user.name}}
				<button class="button-icon icon ion-power" ng-click="logout()" style="color: #8d8d8d; border: none"></button>
			</p>
		</li>
		<li class="item home-button">
			<button class="button button-outline button-block button-rounded button-balanced  icon-left ion-game-controller-b" style="text-align: left;min-width: 200px;" ng-click="play()">
				<span style="padding-left: 10px;font-family: GothamMedium">{{ 'PLAY' | translate | uppercase}}</span>
			</button>
		</li>
		<li class="item home-button">
			<button class="button button-outline button-block button-rounded button-royal  icon-left ion-person-stalker" style="text-align: left;min-width: 200px" ng-click="isVersus = !isVersus">
				<span style="padding-left: 10px;font-family: GothamMedium">{{ 'VERSUS' | translate | uppercase}}</span>
			</button>

			<div class="animate-flip" style="padding-top: 10px" ng-show="isVersus" ng-hide="!isVersus">
				<button class="button icon-left ion-play button-clear button-royal" style="font-size: 0.9em;font-family: GothamMedium" ng-click="goToVersus(1)">
					100 {{ 'POINTS' | translate }}
				</button>
				<button class="button icon-left ion-play button-clear button-royal" style="font-size: 0.9em;font-family: GothamMedium" ng-click="goToVersus(2)">
					10 {{ 'WINS' | translate }}
				</button>
			</div>
		</li>
		<li class="item home-button">
			<button class="button button-outline button-block button-rounded button-positive  icon-left ion-help-circled" style="text-align: left;min-width: 200px" ng-click="goToHowPlay()">
				<span style="padding-left: 10px;font-family: GothamMedium">{{ 'HOW_TO_PLAY' | translate | uppercase}}</span>
			</button>
		</li>
		<li class="item home-button">
			<button class="button button-outline button-block button-rounded button-energized  icon-left ion-trophy" style="text-align: left;min-width: 200px" ng-click="goToRanking()">
				<span style="padding-left: 10px;font-family: GothamMedium">{{ 'TOP_10' | translate | uppercase}}</span>
			</button>
		</li>
	<!--	<li class="item home-button">
			<button class="button button-outline button-block button-rounded button-energized  icon-left ion-trophy" style="text-align: left;min-width: 200px" ng-click="showAd()">
				<span style="padding-left: 10px;font-family: GothamMedium">SHOW</span>
			</button>
			<button class="button button-outline button-block button-rounded button-energized  icon-left ion-trophy" style="text-align: left;min-width: 200px" ng-click="prepareAd()">
				<span style="padding-left: 10px;font-family: GothamMedium">PREPARED</span>
			</button>
			<button class="button button-outline button-block button-rounded button-energized  icon-left ion-trophy" style="text-align: left;min-width: 200px" ng-click="showPreparedAd()">
				<span style="padding-left: 10px;font-family: GothamMedium">SHOW_PREPARED</span>
			</button>
		</li>-->
	</ul>
</div>

<span style="position: absolute; right: 0; bottom: 0" ng-show="selectedLang">
	<button class="button button-outline button-block button-rounded button-stable" style="margin: 0; padding: 0; width: 45px; height: 36px; min-height: 30px; min-width: 30px;"
			ng-click="chooseLanguage()">
		<img ng-src="{{'images/flags/'+selectedLang+'.png'}}" style="width: 40px; position: relative; top: -1px;">
	</button>
</span>

<!--MODALS-->
<script id="language-modal.html" type="text/ng-template">
	<ion-modal-view style="color: #f5f5f5; height: 100%; width:100%;text-align: center; background-color: transparent">
		<div style="position:absolute; width: 250px; right: 12px; bottom: 65px; top: 70px">
			<ion-scroll zooming="false" direction="y" style="position:absolute; width: 100%; max-height: 100%; bottom: 0">
				<ul class="list" style="border-radius: 10px; color: #f5f5f5;width: 100%; padding: 0 10px;border-radius: 10px">
					<li st class="item" ng-repeat="lang in langs " style="text-align: left;padding: 5px 10px" ng-click="changeLanguage(lang.value)">
						<img ng-src="{{'images/flags/'+lang.value+'.png'}}" style="width: 40px">
						<span style="font-family: GothamMedium; padding-left: 5px; position: relative; top: -15px">{{lang.label}}</span>
					</li>
				</ul>
			</ion-scroll>
		</div>
	</ion-modal-view>
</script>
