<button class="button icon-left ion-chevron-left button-clear button-light" style="position: absolute; top: -17px; left: -3px;" ng-click="goBack()"></button>

<!--BAR-->
<div vertical-aligned class="animate-show" ng-show="guess" style="position: absolute; top: 40px; bottom: 10em; left: 10px; right: 10px;  text-align: center">

	<div style="margin:0 auto;width: 100px">
		<span class='radialtimer'  id='timer' style="float: left;" ></span>
		<div style=" background-color: #333333; border: solid #444444 2px; color: #444444; height: 41px; width: 100px; text-align: center; padding-left: 40px; font-size: 22px; line-height: 41px; border-bottom-left-radius: 20px; border-top-left-radius: 20px; border-bottom-right-radius: 10px; border-top-right-radius: 10px">
			<span style="color: greenyellow;">{{points['quiz1']}}</span>
		</div>
	</div>

	<div style="color: white">
		<p style="" class="question" ng-cloak>{{ 'SELECT' | translate }} <span>{{guess.guess_mode | uppercase | translate}}</span> {{guess[guess.guess_mode] | uppercase | translate}}</p>
	</div>

</div>

<div style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center">
	<!--PLAYER2-->
	<color-button-container-wrapper quizid="quiz1" guess="guess" words="words" colors="colors" style="position: relative; left: 0px; margin: 0 auto; max-width: 700px">
	</color-button-container-wrapper>
</div>

<!--MODALS-->
<script id="failure-modal.html" type="text/ng-template">
	<ion-modal-view vertical-aligned style="color: #f5f5f5; height: 100%; width:100%;text-align: center; background-color: transparent">

		<div class="my-panel" style="max-width: 350px; width: 100%; height: 100%; max-height: 430px; margin: 0 auto">
			<p style="font-size: 1.3em; margin-top: 0px;font-family: GothamMedium"><b>{{modalTitle}}</b></p>

			<div style="text-align: center;padding-top: 9px;">
				<!--SCORE-->
				<div class="logo box cutout" style="margin: 0px auto; width: 100px; height: 100px;" >
				<span class="image-wrap" style="width:100%; height:100%;  display:inline-block; background: whitesmoke no-repeat scroll center center / 100% 100%;">
					<div style="color: #444; position: relative; top: 24px; font-size: 16px;font-family: GothamMedium">{{ 'SCORE' | translate }}</div>
					<div style="color: #444; position: relative; top: 31px;  font-size: 35px; font-family: GothamBold">{{points['quiz1']}}</div>
				</span>
				</div>

				<!--NEW RECORD-->
				<div ng-show="isNewRecord" style="padding-top: 10px">
					<div ng-show="!scorePublished">
						<p><span style="color: #F0B840;font-family: GothamMedium">{{ 'SCORE' | translate | uppercase }}</span><br>{{ 'SEND_SCORE' | translate }}</p>
						<button class="button button-outline  button-rounded button-energized icon-left ion-trophy"
								style="text-align: left; margin: 0 10px 0 5px" ng-click="publishScore()">
							<span style="padding-left: 10px;font-family: GothamMedium">{{ 'SEND' | translate }}</span>
						</button>
					</div>
					<div ng-show="scorePublished" style="font-family: GothamMedium">
						<span style="color:#F0B840">Score published!</span>
						<!--<a href="#" style="font-family: GothamMedium"  class="button button-clear button-energized icon-left ion-play"  ui-sref="ranking">TOP 10</a>-->
					</div>
				</div>
			</div>

			<div  style="padding-top: 10px; max-width: 300px; margin: 0 auto; text-align: center ">
				<ul class="list buttonbar " style="margin: 0 auto">
					<li class="item">
						<button class="button button-outline button-block button-rounded button-light  icon-left ion-home" ng-click="goBack()">
							<span style="font-family: GothamMedium">{{ 'HOME' | translate }}</span>
						</button>
					</li>
					<li class="item">
						<button class="button button-outline button-block button-rounded button-balanced  icon-left ion-game-controller-b"  ng-click="remach()">
							<span style="font-family: GothamMedium">{{ 'REMACH' | translate }}</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</ion-modal-view>
</script>