<!--<div style="position: absolute;clear: both; z-index: 100; top: 50%;">
	<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="goBack()"></button>
	<button ng-click="nextGuess()">RESET</button>
	<button ng-click="newGame()">NEW GAME</button>
</div>-->

<!--PLAYER1-->
<color-button-container-wrapper quizid="quiz1" guess="guess" words="words" colors="colors"
								style="transform: rotate(180deg);-webkit-transform:rotate(180deg);position: absolute; top: 0px; left: 0px; right: 0px">
</color-button-container-wrapper>


<!--BAR-->
<div vertical-aligned style="position: absolute; top: 10em; bottom: 10em; left: 10px; right: 10px;  text-align: center">

	<!--QUESTION1-->
	<p class="question" style="transform: rotate(180deg);-webkit-transform:rotate(180deg);" ng-cloak>select <span>{{guess.guess_mode | uppercase}}</span> {{guess[guess.guess_mode]}}</p>

	<!--TIMER-->
	<div style="margin:0 auto;width: 100px">
		<span class='radialtimer2'  id='timer' style="transform: rotate(270deg);-webkit-transform:rotate(270deg);float: left;" ></span>
		<div style=" background-color: #333333; border: solid #444444 2px; color: #444444; height: 61px; width: 120px; text-align: center; padding-left: 60px; font-size: 22px; line-height: 61px; border-bottom-left-radius: 30px; border-top-left-radius: 30px; border-bottom-right-radius: 10px; border-top-right-radius: 10px">
			<div style="transform: rotate(180deg);-webkit-transform:rotate(180deg); height: 30px;line-height: 27px">
				<span style="color: #FF962F;">{{points['quiz1']}}</span>
			</div>
			<div style="height: 2px; position: relative; left: 0px; right: -2px; background-color: #444444"></div>
			<div style=" height: 30px; line-height: 28px">
				<span style="color: greenyellow;">{{points['quiz2']}}</span>
			</div>
		</div>
	</div>

	<!--QUESTION2-->
	<p class="question" ng-cloak>select <span>{{guess.guess_mode | uppercase}}</span> {{guess[guess.guess_mode]}}</p>

</div>


<!--PLAYER2-->
<color-button-container-wrapper quizid="quiz2" guess="guess" words="words" colors="colors" style="position: absolute; bottom: 0px; left: 0px; right: 0px">
</color-button-container-wrapper>

<!--MODALS-->
<script id="versus-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
			<h1 class="title">GAME OVER</h1>
		</ion-header-bar>
		<ion-content>
			<!--SCORE-->
			<div style="text-align: center">
				<p>Your score: {{points['quiz1']}}</p>
				<p>Your score: {{points['quiz2']}}</p>
			</div>
			<div style="text-align: center">
				<button ng-click="remach()">Remach</button>
				<button ng-click="goBack()">Back to home</button>
			</div>
		</ion-content>
	</ion-modal-view>
</script>
